.provinces {
    stroke: rgba(31, 30, 30, 0.209);
    stroke-width: 1;
}

.province-label {
    fill: #777;
    font-size: 0.7em;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    text-anchor: middle;
}

.selectedProvince {
    stroke: pink;
    fill: aqua;
}

/* Scroll list */
.scroll-list {
    position: absolute;
    border: 1px solid #ccc;
    width: 200px;
    /* Ajust width and height */
    max-height: 230px;
    overflow-y: auto;
    margin-bottom: 20px;
    z-index: 0;
}

.scroll-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.scroll-list li {
    padding: 10px 8px;
    cursor: pointer;
}

.scroll-list li:hover {
    background-color: #f0f0f0;
}

/* Define style for selected province */
.scroll-list li.selected {
    background-color: #f0f0f0;
    font-weight: bold;
    /* Set SelectedItem bold */
}

#centered-container {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    z-index: 0;
}

#selected-province-text {
    font-weight: normal;
    margin: 0;
    /* Remove default margin */
    line-height: normal;
    /* Default row height */
}

#selected-province-text strong {
    font-weight: bold;
    /* Bold the font for the SelectedProvince */
}

.buttons button {
    width: 100px;
    height: 40px;
    font-size: medium;
}

#map {
    position: absolute;
    top: 50px;
    left: 140px;
    right: 0px;
    width: calc(100% - 140px);
    /* 减去左侧偏移量 */
    height: calc(100% - 50px);
    /* 减去顶部偏移量 */
    z-index: 0;

}

#buttons {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 0;
}



.row3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    right: 100px;
    /* 设置距离屏幕右侧20px，再加上额外的20px间距 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 左对齐 */
}


#AfterSelected-options {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;

}


#AfterSelected-options label {
    margin-right: 10px;
    /* 添加单选按钮之间的间距 */
}

li div {
    display: flex;
    align-items: center;
}

li svg {
    margin-left: 10px;
    /* 添加list pattern左边间隔 */
}

#pattern-options {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}

#pattern-options label {
    margin-right: 10px;
    /* 添加单选按钮之间的间距 */
}


/* 改变布局，将单选按钮放在下一行 */
@media (max-width: 600px) {
    #pattern-options {
        flex-direction: column;
        align-items: flex-start;
    }
}